/* Global */
html {
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
}
body {
background-color:grey
}
/* Rules */
.rulePar {
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  padding: 15px;
  color: rgb(58, 3, 3);
}

.ruleHeader {
  color: rgb(58, 3, 3);
}

/* Cricket */
table {
  margin-left: auto;
  margin-right: auto;
}

#scoreboard, td {
  border: 1px solid;
}

/* Header */
.header {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px;
  margin-bottom: 30px;
}

.btnTable {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  height: 50vh;
}

/* Create Player */
.playerNameHeader {
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
}

.playerInputRow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Create Game */
.gameSelect {
  color: rgb(231, 241, 231);
  margin-top: 80px;
}

/* Baseball */
.inningCounter {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.scoreboard {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
}

/* Score Calculator */
.scoreCalculator {
    width: 20rem;
    height: 30rem;
    display: flex;
    flex-direction: row;
    padding: 1%;
    position: relative;
    margin: auto;
    margin-top: 2rem;
}
.scoreKeypad {
  padding-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 5rem);
  grid-template-rows: repeat(4, 3rem);
  gap: 3px;
}

.scoreInput {
  border-color: black;
  padding-right: 10%;
  font-weight: bold;
  font-size: xx-large;
}
.result {
  font-size: 30px;
};